*{
  font-family: 'Inter';
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content img {
  border-radius: 12px;
}
.img-container {
  padding: 0 32px 32px 0;
  cursor: pointer;
}
.img-id {
  padding: 8px 0 32px 0;
  font-size: 14px;
  font-weight: 500;
}