.comment__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.comment__content img {
  margin: 0 10px 0 30px;
  width: 50px;
}
.comment__name {
  font-weight: 700;
  color: rgb(121, 175, 250);
}
.comment__text {
  font-weight: 500;
  font-size: 20px;
  color: rgb(43, 43, 43);
}