.title__content {
 display: flex;
 width: 100%;
 margin: 0 0 110px 0;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 overflow: hidden;
}

.title__img img {
  width: 100vw;
  height: 192px;
}
.title__contact {
  position: absolute;
  top: 128px;
}
.title__contact img {
  width: 128px;
  height: 128px;
  border-radius: 100px;
}
.title__bottom-content {
 display: flex;
 align-items: flex-end;
 width: 80%;
 height: 40px;
 justify-content: space-between;
}
.title__name{
  padding: 0 0 0 200px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.title__button-content{
  display: flex;
  align-items: flex-end;
}
.title__button-content button{
  height: 38px;
  margin: 0 16px 0 0;
  padding: 0 17px 0 9px;
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  transition-duration: 0.4s;
}
.title__button-content button:hover {
  background: #b3aeae69;
}
.icon-message::before {
  padding: 0 10px;
  content: url('../assets/main/message.svg');
}
.icon-call::before {
  padding: 0 10px;
  content: url('../assets/main/call.svg');
}