.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
  
}
.modal__content {
  display: flex;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  width: 692px;
  height: 706px;
}
.modal__content img {
  max-width: 405px;
  max-height: 405px;
  border-radius: 8px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.modal__comment {
  align-self: flex-start;
  font-size: 14px;
  font-weight: 500;
}
.modal__down-text{
align-self: flex-start;
font-size: 14px;
font-weight: 400;
color: #6B7280;;
}
.modal__input {
  width: 644px;
  height: 105px;
  align-self: flex-start;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: 1px solid #D1D5DB;
}
.modal__button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px;
color: white;
width: 67px;
height: 38px;
border: 0;

background: #4F46E5;

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
transition-duration: 0.4s;
}
.modal__button:hover {
  background: #3a33c6;
}
.modal__comments-block {
  display: flex;
  align-items: center;
  height: 150px;
  width: 400px;
  border-radius: 8px;
  margin: 30px;
  background-color: #D1D5DB;
}
.modal__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comment-not-found {
  margin: 20px;
}